{% extends 'authentication/base.html' %}
    
{% block main %}
<div class="signin-wrapper">
  <form action="" method='post' class="login">
    {% csrf_token %}
    <div class="head">
      <h2>Customer Login <i class="fa fa-user-lock"></i></h2>
    </div>
    <label for="username">
        Username
        <input type="text" id="username" name='username'>
    </label>
    <label for="password">
        Password
        <input id="password" type="text" name='password'>
    </label>
    <button type="submit">Login</button>
    <div class="tail">
        <a href="{% url 'password_reset' %}">forgot password?</a>
        <a href="{% url 'authentication:register' %}">Sign Up</a>
    </div>
  </form>
</div>

{% endblock main %}
