{% extends 'base.html' %}




{% block main %}

<style>
    .nav{
        float: left;
        width: 20%;
    }
    .nav-item{
        margin-top: 10px;
        border-bottom: 1px solid rgb(129, 127, 127);
    }
    .body{
        float: left;
        width: 80%;
    }
    .main{
        overflow: auto;
        
    }
    .main-item{
        float: left;
        padding: 40px;
    }
    
    </style>


<div style="overflow:auto">
    <div class="nav">
        <div class="nav-item">Profile</div>
        <div class="nav-item">Add Food</div>
        <div class="nav-item">Post</div>
        <div class="nav-item">Delivered</div>
    </div>

    <div class="body">
        <div>{{user.username}}</div>
        <div class="main">
            <div class="main-item">
                <p>9</p>
                <p>Orders</p>
            </div>
            <div class="main-item">Foods</div>
            <div class="main-item"><a href="">Add Food</a></div>
        </div>
    </div>


</div>
{% endblock main %}