*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    
}
body{
    margin: 0;
    --background-color: lightgray;
    --primary-color: #064606;
    background-image: url('../img/abg.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
   flex: 1;
   display: flex;
}
header{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid;
}
header button{
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: larger;
}
aside{
    display: none;
    flex-direction: column;
    border-right: 1px solid;
    width: fit-content;
    height: 100%;
}
aside.show{
    display: flex;
}
aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
aside a{
    text-decoration: none;
    color:  var(--primary-color);
    font-weight: 600;
    font-size: 5vh;
}
section.view{
    padding: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}
.view-name{
    font-weight: 600;
    font-size: larger;
    color: black;
}
.view-id{
    color: rgb(0, 0, 0);
}
.shortcuts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}
.shortcut{
    padding: 7vh;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 6px 7px 0px #00000059;
    background-color: rgb(245, 245, 245);
    margin: 10px;
}
.shortcut a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--primary-color);
}
.shortcut i{
    font-size: 50px;
    margin-bottom: 5px;
}
/* .shortcut.info{
    background-color: lightblue;
}
.shortcut.his{
    background-color: lightyellow;
}
.shortcut.pen{
    background-color: rgb(240, 152, 152);
} */
.updates{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* height: 100px; */
}
.update{
    width: 49%;
    height: 200px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    min-height: 50vh;
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
}
.update table,.update tr, .update td,.status table, .status tr, .status td{
    border: 1px solid;
    border-collapse: collapse;
    font-size: .9em;
    
}

.update thead, .status thead{
    background-color: white;
    font-weight: 600;
    position: sticky;
    top: -10px;
}
.update table, .status table{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.update td, .status td{
    height: 5.5vh;
    text-align: left;
    font-size: medium;
}
.status{
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}
.status table{
    width: 100%;
}
.status-confirm{
    padding: 3px 10px;
    margin: 5px;
    font-weight: 520;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}
.profile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20%;
}.profile .left, .profile .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-info .title{
    color: rgb(12, 88, 12);
    font-weight: 600;
}
.profile-info .value{
    background-color: lightgray;
    padding: 10px;
    width: 300px;
}
.profile-bottom .profile-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-update-btn{
    align-self: flex-end;
    background-color: rgb(12, 88, 12);
    padding: 10px 20px;
    margin-right: 10%;
    color: white;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

/* update */
.account_info{
    background-color: #5faf5fc4;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid gray;
}
.confirm, .unconfirm{
    height: 20px;
    width: 90%;
    padding: 5px 40%;
    background-color: black;
    color: white;
}
.confirm{
    background-color: var(--primary-color);
}
.unconfirm{
    background-color: rgb(223, 29, 29);
}
.order-item-wrapper, .order-summary{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    padding: 10px;
}
.order-summary{
    background-color: white;
}
.order-sum{
    width: 800px;
    padding: 10px;
    border-bottom: 1px solid;
    justify-content: space-evenly;
    display: flex;
}
.order-item-wrapper > h2{
    margin: 10px;
}
.order-item{
    display: flex;
    width: 1000px;
    height: fit-content;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid;
}
.order-item >  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order-item > p{
    width: 20%;
}
.order-item img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border: 1px solid;
}
.order-item span{
    font-weight: 600;
    width: 20%;
    
}

.customer-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.customer{
    width: 235px;
    height: 300px;
    border: 1px solid;
    background-color: #429f87;
}
.customer img{
    height: 220px;
    width: 100%;
    object-fit: contain;
}
.customer p{
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: hwb(138deg 20% 44%);
    color: black;
    margin: 4px 0;
    font-weight: 600;
}
.profile{
    width: 800px;
    height: fit-content;
    padding: 20px;
    margin: auto;
    
}
.profile form{
    width: fit-content;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'img img'
    'fullname fullname'
    'username dob'
    'phone gender'
    'email email'
    'k btn'
    ;
}
.profile input{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
}
.profile input[disabled]{
    background-color: rgb(209, 209, 209);
    cursor: not-allowed;
    /* color: white; */
}
.profile [full_name]{
    grid-area: fullname;
}
.profile [email]{
    grid-area: email;
}
.profile [username]{
    grid-area: username;
}
.profile [dob]{
    grid-area: dob;
}
.profile [phone]{
    grid-area: phone;
}
.profile button{
    grid-area: btn;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.profile form img{
    grid-area: img;
    height: 150px;
    border: 1px solid;
}
@media screen and (max-width: 445px) {
    .status{
        width: 95%;
    }
    .profile, .updates{
        margin-top: 10px;
       flex-direction: column;
       gap: 10px;
    }
.update{
    width: 100%;

}
    .profile .value,.profile-bottom .value{
        width: 100%;
    }
    
}