{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'restaurant/components/aside.html' %}
        <section class="view">
            <div class="status">
                    
                            {% for order in orders %}
                                <div class="order-item-wrapper">
                                    <h2>{{order.ordered_date}}</h2>
                                    <div class="order-item">
                                        <span>Name</span>
                                        <span>Category</span>
                                        <span>kitchen</span>
                                        <span>quantity</span>
                                        <span>price</span>  
                                    </div>
                                    {% for item in order.items.all %}
                                        <div class="order-item">
                                            <span>{{item.name}}</span>
                                            <span>{{item.category.name}}</span>
                                            <span>{{item.kitchen.name}}</span>
                                            <span>{{item.quantity}}</span>
                                            <span>N{{item.total_price}}</span>  
                                        </div>
                                    {% endfor %}
                                    <div class="order-item">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span>Total</span>
                                        <span>N{{order.total_price}}</span>  
                                    </div>
                                </div>
                            {% endfor %}
                        
            </div>
        </section>
{% endblock main %}