{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'restaurant/components/aside.html' %}


    <div class="order-item-wrapper" >
        <h1>All Orders</h1>
{% for order in user.orders %}
        <div class="order-item" style='width: 60%'>
            <img src="{{order.image}}" />
            <div>
                <p>Category: <b>{{order.category.name}}</b></p>
                <p>Name: <b>{{order.name}}</b></p>
            </div>
            <div>
                <p>Quantity: <b>{{order.quantity}}</b></p>
                <p>Time: <b>{{order.time}}</b></p>
                <p>Date: <b>{{order.date}}</b></p>
                <p>Total: <b>{{order.total_price}}</b></p>
            </div>
            <div>
                <b>
                    
                    {% if order.delivered %}
                        Delivered
                    {% else %}
                        Not Delivered
                    {% endif %}
                        
                </b>
            </div>
        </div>

    {% endfor %}
    </div>
    
        


{% endblock main %}