{% extends 'base.html' %}
{% load static %}
    
{% block styles %}
<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">  

{% endblock styles %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock script %}
{% block header %}
    <header>
        <button data-toggler><i class="fa fa-bars"></i></button>
    </header>
{% endblock header %}
{% block main %}
{% include 'administrator/components/aside.html' %}


    <div class="order-item-wrapper">
        <h1>All Orders</h1>
{% for order in orders %}
        <div class="order-item">
            <img src="{{order.image}}" />
            <div>
                <p>Customer Name: <b>{{order.customer.get_full_name}}</b></p>
                <p>Delivery address: <address>{{order.delivery_point}}</address></p>
            </div>
            <div>
                <p>Category: <b>{{order.category.name}}</b></p>
                <p>Name: <b>{{order.name}}</b></p>
                <p>Phone Number: <b>
                    <a href="tel:{{order.phone_no}}">{{order.phone_no}}</a>
                </b></p>
            </div>
            <div>
                <p>Quantity: <b>{{order.quantity}}</b></p>
                <p>Time: <b>{{order.time}}</b></p>
                <p>Date: <b>{{order.date}}</b></p>
                <p>Total: <b>{{order.total_price}}</b></p>
            </div>
            <div>
                <a href="/">check status</a>
                <a href="/">check customer</a>
                <a href="/">check kitchen</a>
                <b>
                    
                    {% if order.delivered %}
                        Delivered
                    {% else %}
                        Not Delivered
                    {% endif %}
                        
                </b>
            </div>
        </div>

    {% endfor %}
    </div>
    
        


{% endblock main %}